<div class="buttons-wrapper">
    <a href="/" class="logo">WasteBin</a>
    <div class="buttons">
        <a href="/new" class="btn">New</a>
        <% if (locals.canSsave) { %>
        <button class="btn" type="submit">Save</button>
        <% } %>
    </div>
</div>
